<h1>Dashboard</h1>

<h2>
  Talkers pending
  <small>Talkers waiting for schedule confirmation</small>
</h2>

<% if @talkers_without_schedule.any? %>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Forecast</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @talkers_without_schedule.each do |talker | %>
      <tr>
        <td><%= talker.name %></td>
        <td><%= talker.email %></td>
        <td><%= talker.phone %></td>
        <td><%=l talker.forecast_at, format: :short %></td>
        <td>
          <%= link_to 'Schedule', new_admin_talker_schedule_path(talker) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No talkers waiting for schedule</p>
<% end %>

<h2>
  Talkers waiting
  <small>Talkers waiting for the session start</small>
</h2>

<% if @talkers_waiting_for_session.any? %>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Scheduled to</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @talkers_waiting_for_session.each do |talker | %>
      <tr>
        <td><%= talker.name %></td>
        <td><%= talker.email %></td>
        <td><%= talker.phone %></td>
        <td><%=l talker.schedule.scheduled_to, format: :short %></td>
        <td>
          <%= link_to 'Room', talker.schedule.room_url %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No talkers waiting for session start</p>
<% end %>

<h2>
  Occurred schedules
  <small>Schedules needing occurrence marks</small>
</h2>

<% if @talkers_waiting_for_occurrence.any? %>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Scheduled to</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @talkers_waiting_for_occurrence.each do |talker| %>
      <tr>
        <td><%= talker.name %></td>
        <td><%= talker.email %></td>
        <td><%= talker.phone %></td>
        <td><%=l talker.schedule.scheduled_to, format: :short %></td>
        <td>
          <%= link_to 'Occurred!', new_admin_finish_path(talker.schedule) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No sessions needing occurrence mark</p>
<% end %>
