<%= simple_form_for(talker, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :forecast_at %>

  <div class="actions">
    <%= f.submit 'Solicitar agendamento' %>
  </div>
<% end %>
