<%= simple_form_for(talker) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :forecast_at, as: :string, input_html: { class: 'form_datetime' } %>

  <div class="actions">
    <%= f.submit 'Solicitar agendamento' %>
  </div>
<% end %>
