<%= form_for(talker) do |f| %>
  <% if talker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(talker.errors.count, "error") %> prohibited this talker from being saved:</h2>

      <ul>
      <% talker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </p>
    <p>
      <%= f.label :forecast_at %>
      <%= f.text_field :forecast_at %>
    </p>

    <%= f.submit %>
  </div>
<% end %>
