<%= simple_form_for([:admin, listener], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
