<h1>Ouvintes</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Gênero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listeners.each do |listener| %>
      <tr>
        <td><%= listener.name %></td>
        <td><%= listener.email %></td>
        <td><%= listener.phone %></td>
        <td><%=t listener.gender, scope: 'simple_form.options.listener.gender' %></td>
        <td><%= link_to 'Visualizar', [:admin, listener] %></td>
        <td><%= link_to 'Editar', edit_admin_listener_path(listener) %></td>
        <td><%= link_to 'Remover', [:admin, listener], method: :delete, data: { confirm: 'Você tem certeza que deseja remover?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo ouvinte', new_admin_listener_path %>
