<p>
  <strong>Nome:</strong>
  <%= @listener.name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @listener.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @listener.phone %>
</p>

<p>
  <strong>Gênero:</strong>
  <%=t @listener.gender, scope: 'simple_form.options.listener.gender' %>
</p>

<%= link_to 'Editar', edit_admin_listener_path(@listener) %> |
<%= link_to 'Voltar', admin_listeners_path %>
