<p>
  <strong>Listener:</strong>
  <%= @schedule.listener %>
</p>

<p>
  <strong>Talker:</strong>
  <%= @schedule.talker %>
</p>

<p>
  <strong>Scheduled to:</strong>
  <%=l @schedule.scheduled_to, format: :short %> (forecast at <%=l @schedule.talker.forecast_at, format: :short %>)
</p>

<%= link_to 'Edit', edit_admin_schedule_path(@schedule) %> |
<%= link_to 'Back', admin_schedules_path %>
