<p>
  <strong>Ouvinte:</strong>
  <%= @schedule.listener %>
</p>

<p>
  <strong>Falante:</strong>
  <%= @schedule.talker %>
</p>

<p>
  <strong>Agendado para:</strong>
  <%=l @schedule.scheduled_to, format: :short %> (data de interesse: <%=l @schedule.talker.forecast_at, format: :short %>)
</p>

<%= link_to 'Editar', edit_admin_schedule_path(@schedule) %> |
<%= link_to 'Voltar', admin_schedules_path %>
