<%= simple_form_for([:admin, schedule]) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.association :listener %>
  <%= f.input :scheduled_to %>
  <%= f.association :talker %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
