<p>
  <strong>Listener:</strong>
  <%= @schedule.listener %>
</p>

<p>
  <strong>Talker:</strong>
  <%= @schedule.talker %>
</p>

<p>
  <strong>Scheduled to:</strong>
  <%=l @schedule.scheduled_to, format: :short %>
</p>

<p>
  <strong>Room url:</strong>
  <%= link_to @schedule.room_url, @schedule.room_url %>
</p>

<% if @schedule.occurred? %>
  <p>
    <strong>Occurred at:</strong>
    <%=l @schedule.occurred_at, format: :short %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @schedule.duration %>
  </p>
<% end %>

<%= link_to 'Edit', edit_admin_schedule_path(@schedule) %> |
<%= link_to 'Back', admin_schedules_path %>
