<p>
  <strong>Ouvinte:</strong>
  <%= @schedule.listener %>
</p>

<p>
  <strong>Falante:</strong>
  <%= @schedule.talker %>
</p>

<p>
  <strong>Agendado para:</strong>
  <%=l @schedule.scheduled_to, format: :short %>
</p>

<p>
  <strong>Endereço da sala:</strong>
  <%= link_to @schedule.room_url, @schedule.room_url %>
</p>

<% if @schedule.occurred? %>
  <p>
    <strong>Ocorreu em:</strong>
    <%=l @schedule.occurred_at, format: :short %>
  </p>

  <p>
    <strong>Duração:</strong>
    <%= @schedule.duration %>
  </p>
<% end %>

<%= link_to 'Editar', edit_admin_schedule_path(@schedule) %> |
<%= link_to 'Voltar', admin_schedules_path %>
